@page "/"

<span data-testid="result">@result</span>

@code {
    string? result;

    [Inject]
    public required EvaluationContext EvaluationContext { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        result = "done";
        StateHasChanged();
    }
}