@page "/"

<span data-testid="result">@result</span>

<HeadContent>
    <script>
        function constructReadableStream(underlyingSource) {
            var source = {
                pull(controller) {
                    underlyingSource.objRef.invokeMethodAsync('InvokePull', DotNet.createJSObjectReference(controller));
                }
            };
            return new ReadableStream(source);
        }
    </script>
</HeadContent>

@code {
    string? result;

    [Inject]
    public required EvaluationContext EvaluationContext { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        result = "done";
        StateHasChanged();
    }
}