@page "/"
@using KristofferStrube.Blazor.WebIDL.Exceptions;
@inject ErrorHandlingJSRuntime ErrorHandlingJSRuntime

<PageTitle>WebIDL - Error Handling</PageTitle>

<h1>Error Handling</h1>
<p>On this page we try to read from your clipboard when you press the button below. If you don't allow this to happen we catch the error and display the type of the error and the orignal message.</p>

<button class="btn btn-primary" @onclick="Copy">Copy from clipboard</button>

<br />
@if (result is not null)
{
    <p>You have the text: '@result' in your clipboard</p>
}
else
{
    <code>@error</code>
}

@code {
    private string? result;
    private string error = string.Empty;

    private async Task Copy()
    {
        try
        {
            result = await ErrorHandlingJSRuntime.InvokeAsync<string>("navigator.clipboard.readText");
        }
        catch (DOMException exception)
        {
            error = $"{exception.Name} (which is a DOMException): \"{exception.Message}\"";
        }
        catch (WebIDLException exception)
        {
            error = $"{exception.GetType().Name}: \"{exception.Message}\"";
        }
    }
}