<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor.WebIDL</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <svg class="bi" viewBox="0 0 16 16">
                    <circle stroke-width="0" fill="white" cx="8" cy="4" r="3"></circle>
                    <line stroke="white" stroke-width="2" x1="14" y1="5" x2="12" y2="6" stroke-linecap="round"></line>
                    <line stroke="white" stroke-width="2" x1="15" y1="9" x2="13" y2="9" stroke-linecap="round"></line>
                    <line stroke="white" stroke-width="2" x1="3" y1="9" x2="1" y2="9" stroke-linecap="round"></line>
                    <line stroke="white" stroke-width="2" x1="14" y1="13" x2="12" y2="12" stroke-linecap="round"></line>
                    <line stroke="white" stroke-width="2" x1="4" y1="12" x2="2" y2="13" stroke-linecap="round"></line>
                    <line stroke="white" stroke-width="2" x1="4" y1="6" x2="2" y2="5" stroke-linecap="round"></line>
                    <ellipse stroke-width="0" fill="white" cx="8" cy="9" rx="5" ry="6"></ellipse>
                </svg> Error Handling
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SetLike">
                <svg class="bi" viewBox="0 0 16 16">
                    <polyline stroke="white" stroke-width="2" fill="none" points="3,14 1,8 15,8 13,14 3,14" stroke-linecap="round" stroke-linejoin="round"></polyline>
                    <line stroke="white" stroke-width="2" x1="11" y1="8" x2="13" y2="2" stroke-linecap="round"></line>
                    <line stroke="white" stroke-width="2" x1="5" y1="8" x2="3" y2="2" stroke-linecap="round"></line>
                </svg> SetLike
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MapLike">
                <svg class="bi" viewBox="0 0 16 16">
                    <polygon stroke="white" stroke-width="2" fill="transparent" points="8,2 2,5 2,14 8,10 8,10 14,14 14,5 8,2 8,10 8,9" stroke-linejoin="round" stroke-linecap="round"></polygon>
                </svg> MapLike
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
